.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 50px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-color-text {
  color: white;
}

.container {
  margin-right: 2%;
  margin-top: 2%;
}
